:root {
    background-color: black;
    color: white;
}

#take-home-button {
    position: fixed;
    top: 0;
    right: 0;
}

#header {
    position: fixed;
    top: 0;
    width: 100px;
    background-color: black;
}

#nav-bar a {
    color: white;
}

#main {
    margin-top: 100px;
}

#main-image {
  width: 100%;
  height: auto;
}

#news-container {
    display: flex;
}

@media only screen and (max-width: 600px) {
}
